const SECONDS = 1000; // ms
const MINUTES = SECONDS * 60;
const HOURS = MINUTES * 60;

module.exports = {
    server: 'irc.freenode.org',
    channels: ['#horsejs'],

    owner: 'bnjbvr',

    nick: 'horsejs',
    userName: 'chevaljs',
    realName: 'chevaljs',

    censorship: {
        periodMap: {
            '#horsejs': 5 * SECONDS
        },
        defaultPeriod: 10 * SECONDS
    },

    horsejs: {
        preloadTweets: 100
    },

    karma: {
        filename: 'karma.dat',
        debouncing_rate: 1 * MINUTES
    }
}
