const MINUTES = 1000 * 60; // ms
const HOURS = MINUTES * 60;

module.exports = {
    server: 'irc.somewhere.org',
    channels: ['#chan'],
    nick: 'horsejs',
    userName: 'horsejs',
    realName: 'horsejs',
    censorshipPeriodMap: {
        '#chan': 4 * HOURS
    },
    defaultCensorshipPeriod: 5 * MINUTES,
    preloadTweets: 100
}

